<html>
<head>
</head>
<body>
  <ul>
    <li>
      <mat-card class="cust-mat-card" *ngFor="let batcha of typeA$ | async">
        <mat-card-header>
          <mat-icon class="custom-image"></mat-icon>
          <mat-card-title>
            {{batcha.nameOf}}
          </mat-card-title>
          <mat-card-subtitle>
            {{batcha.id}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-progress-bar mode="determinate" value="{{progress$.value}}"></mat-progress-bar>
          <div class="mat-card-flat">{{batcha.elapsed}}</div>
        </mat-card-content>
        <mat-card-content>

          {{batcha.total}}
        </mat-card-content>


      </mat-card>
    </li>
  </ul>

 
</body>
</html>



