<div class="mat-form-field-should-float">
      <div class="mat-card" *ngFor="let batcha of typeA$ | async">
        <div id="typeAheader" class="mat-card-header">
          <div class="mat-card-title">
            {{batcha.nameOf}}
          </div>
          <div class="mat-card-subtitle">
            {{batcha.id}}
          </div>
          <mat-progress-bar mode="determinate" value="{{progress$.value}}"></mat-progress-bar>
        </div>
        <div class="mat-card-content">
          {{batcha.started}}
          <div class="mat-card-subtitle">{{batcha.elapsed}}</div>
        </div>
        <div class="mat-caption">{{batcha.total}}</div>
      </div>
      <div class="mat-card" *ngFor="let batchb of typeB$ | async">
        <div id="typeBheader" class="mat-card-header">
          <div class="mat-card-title">
            {{batchb.nameOf}}
          </div>
          <div class="mat-card-subtitle">
            {{batchb.id}}
          </div>
          <mat-progress-bar mode="determinate" value="{{progress$.value}}"></mat-progress-bar>
        </div>
        <div class="mat-card-content">
          {{batchb.started}}
          <div class="mat-card-subtitle">{{batchb.elapsed}}</div>
        </div>
        <div class="mat-caption">{{batchb.total}}</div>
      </div>
      <div class="mat-card" *ngFor="let batchc of typeC$ | async">
        <div id="typeCheader" class="mat-card-header">
          <div class="mat-card-title">
            {{batchc.nameOf}}
          </div>
          <div class="mat-card-subtitle">
            {{batchc.id}}
          </div>
          <mat-progress-bar mode="determinate" value="{{progress$.value}}"></mat-progress-bar>
        </div>
        <div class="mat-card-content">
          {{batchc.started}}
          <div class="mat-card-subtitle">{{batchc.elapsed}}</div>
        </div>
        <div class="mat-caption">{{batchc.total}}</div>
      </div>
      <div class="mat-card" *ngFor="let batchd of typeD$ | async">
        <div id="typeDheader" class="mat-card-header">
          <div class="mat-card-title">
            {{batchd.nameOf}}
          </div>
          <div class="mat-card-subtitle">
            {{batchd.id}}
          </div>
          <mat-progress-bar mode="determinate" value="{{progress$.value}}"></mat-progress-bar>
        </div>
        <div class="mat-card-content">
          {{batchd.started}}
          <div class="mat-card-subtitle">{{batchd.elapsed}}</div>
        </div>
        <div class="mat-caption">{{batchd.total}}</div>
      </div>
      <div class="mat-card" *ngFor="let batche of typeE$ | async">
        <div id="typeEheader" class="mat-card-header">
          <div class="mat-card-title">
            {{batche.nameOf}}
          </div>
          <div class="mat-card-subtitle">
            {{batche.id}}
          </div>
          <mat-progress-bar mode="determinate" value="{{progress$.value}}"></mat-progress-bar>
        </div>
        <div class="mat-card-content">
          {{batche.started}}
          <div class="mat-card-subtitle">{{batche.elapsed}}</div>
        </div>
        <div class="mat-caption">{{batche.total}}</div>
      </div>
      <div class="mat-card" *ngFor="let batchf of typeF$ | async">
        <div id="typeFheader" class="mat-card-header">
          <div class="mat-card-title">
            {{batchf.nameOf}}
          </div>
          <div class="mat-card-subtitle">
            {{batchf.id}}
          </div>
          <mat-progress-bar mode="determinate" value="{{progress$.value}}"></mat-progress-bar>
        </div>
        <div class="mat-card-content">
          {{batchf.started}}
          <div class="mat-card-subtitle">{{batchf.elapsed}}</div>
        </div>
        <div class="mat-caption">{{batchf.total}}</div>
      </div>
      <div class="mat-card" *ngFor="let batchg of typeG$ | async">
        <div id="typeGheader" class="mat-card-header">
          <div class="mat-card-title">
            {{batchg.nameOf}}
          </div>
          <div class="mat-card-subtitle">
            {{batchg.id}}
          </div>
          <mat-progress-bar mode="determinate" value="{{progress$.value}}"></mat-progress-bar>
        </div>
        <div class="mat-card-content">
          {{batchg.started}}
          <div class="mat-card-subtitle">{{batchg.elapsed}}</div>
        </div>
        <div class="mat-caption">{{batchg.total}}</div>
      </div>
    </div>
